@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-app: #0A0A0D;
  --color-panel: #121218;
  --color-card: #1B1B24;
  --color-border: #30303D;
  --color-text-primary: #F4F4F5;
  --color-text-secondary: #A1A1AA;
  --color-accent: #A855F7;
  --color-accent-light: #C084FC;
}

:root.light {
  --color-bg-app: #F4F4F5;
  --color-panel: #FFFFFF;
  --color-card: #F8F7FA;
  --color-border: #E4E4E7;
  --color-text-primary: #18181B;
  --color-text-secondary: #52525B;
  --color-accent: #9333EA;
  --color-accent-light: #A855F7;
}
